.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		img.app-sidebar__user-avatar(src='https://randomuser.me/api/portraits/men/1.jpg', alt='User Image')
		div
			p.app-sidebar__user-name Michael Bashiri
			p.app-sidebar__user-designation Admin

	ul.app-menu
		li
			a.app-menu__item(href='dashboard' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.bi.bi-speedometer
				span.app-menu__label Dashboard

		li.treeview(class={'is-expanded': activeGroup == 'staffs'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.bi.bi-people
				span.app-menu__label Staffs
				i.treeview-indicator.bi.bi-chevron-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == 'add staff'})
						i.icon.bi.bi-person-plus
						|  Add Staff
				li
					a.treeview-item(href='staffs' class={'active': activePage == 'all staffs'})
						i.icon.bi.bi-table
						|  All Staffs

		li.treeview(class={'is-expanded': activeGroup == 'conditions'})
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.bi.bi-cloud
				span.app-menu__label Conditions
				i.treeview-indicator.bi.bi-chevron-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == 'add condition'})
						i.icon.bi.bi-cloud-plus
						|  Add Condition
				li
					a.treeview-item(href='conditions' class={'active': activePage == 'all conditions'})
						i.icon.bi.bi-clouds
						|  All Conditions

		li.treeview(class={'is-expanded': activeGroup == 'assets'})
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.bi.bi-laptop
				span.app-menu__label Assets
				i.treeview-indicator.bi.bi-chevron-right
			ul.treeview-menu
				li
					a.treeview-item(href='add_asset' class={'active': activePage == 'add asset'})
						i.icon.bi.bi-plus-circle
						|  Register Asset
				li
					a.treeview-item(href='assets' class={'active': activePage == 'assets'})
						i.icon.bi.bi-table
						|  All assets

		li.treeview(class={'is-expanded': activeGroup == 'assignment'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.bi.bi-file-earmark-text
				span.app-menu__label Asset Assignments
				i.treeview-indicator.bi.bi-chevron-right
			ul.treeview-menu
				li
					a.treeview-item(href='assign_asset' class={'active': activePage == 'assign asset'})
						i.icon.bi.bi-send
						|  Assign Asset
				li
					a.treeview-item(href='assigned_assets' class={'active': activePage == 'assigned assets'})
						i.icon.bi.bi-file-text
						|  Assignment records
